TERMINAL_MODAL_IMAGE=  # <-- set your value
TERMINAL_TIMEOUT=  # <-- set your value
TERMINAL_LIFETIME_SECONDS=  # <-- set your value
BROWSERBASE_PROXIES=  # <-- set your value
BROWSERBASE_ADVANCED_STEALTH=  # <-- set your value
BROWSER_SESSION_TIMEOUT=  # <-- set your value
BROWSER_INACTIVITY_TIMEOUT=  # <-- set your value
WEB_TOOLS_DEBUG=  # <-- set your value
VISION_TOOLS_DEBUG=  # <-- set your value
MOA_TOOLS_DEBUG=  # <-- set your value
IMAGE_TOOLS_DEBUG=  # <-- set your value
OLLAMA_API_KEY=  # <-- set your value
OLLAMA_BASE_URL=  # <-- set your value
HERMES_MAX_ITERATIONS=  # <-- set your value
DISCORD_BOT_TOKEN=  # <-- set your value
GATEWAY_ALLOW_ALL_USERS=  # <-- set your value
DISCORD_ALLOWED_USERS=  # <-- set your value
SLACK_BOT_TOKEN=  # <-- set your value
SLACK_APP_TOKEN=  # <-- set your value
HINDSIGHT_LLM_API_KEY=  # <-- set your value
OPENVIKING_ENDPOINT=  # <-- set your value
OPENVIKING_ACCOUNT=  # <-- set your value
OPENVIKING_USER=  # <-- set your value
OPENVIKING_AGENT=  # <-- set your value
SLACK_ALLOWED_USERS=  # <-- set your value
WHATSAPP_ALLOWED_USERS=  # <-- set your value
OPENROUTER_API_KEY=  # <-- set your value
OPENAI_API_KEY=  # <-- set your value
ANTHROPIC_API_KEY=  # <-- set your value
MINIMAX_API_KEY=  # <-- set your value
HERMES_GATEWAY_TOKEN=  # <-- set your value
FMP_API_KEY=  # <-- set your value
NEWSAPI_KEY=  # <-- set your value
TAVILY_API_KEY=  # <-- set your value
JINA_API_KEY=  # <-- set your value
DISCORD_HOME_CHANNEL=  # <-- set your value
DISCORD_HOME_CHANNEL_THREAD_ID=  # <-- set your value
LINEAR_API_KEY=  # <-- set your value
COMPANY_SLACK_BOT_TOKEN=  # <-- set your value
